@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: 100 900;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: var(--font-family);
    color: var(--color-text);
}

:root {
    --color-bg: hsl(0, 0%, 8%);
    --color-card: hsl(0, 0%, 12%);
    --color-box-links: hsl(0, 0%, 20%);
    --color-text: hsl(0, 0%, 100%);
    --color-location: hsl(75, 94%, 57%);
    --color-footer: hsl(228, 45%, 44%);
    --font-family: "Inter", sans-serif;
    --radius: 4px;
}

body {
    min-height: 100vh;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

article {
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 31px 35px 32px 35px;
    border-radius: 10px;
    background-color: var(--color-card);

}

img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin: auto;

}
 
h1 {
    font-size: 20px;
    font-weight: 700;
    padding: 22px 0 9px 0;
}

p {
    font-size: 11px;
    font-weight: 400;
}

h1 + p {
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 22px;
    color: var(--color-location);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-top: 20px;
}

li {
    width: 100%;
    text-align: center;
    padding: 8px;
    border-radius: var(--radius);
    background-color: var(--color-box-links);
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
}

li:hover {
    background-color: var(--color-location);
    cursor: pointer;
}

li:hover a {
    color: var(--color-card);
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.attribution a {
    color: var(--color-footer);
}