@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: 100 900;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg: hsl(0, 0%, 8%);
    --color-card: hsl(0, 0%, 12%);
    --color-box-links: hsl(0, 0%, 20%);
    --color-text: hsl(0, 0%, 100%);
    --color-location: hsl(75, 94%, 57%);
    --color-footer: hsl(228, 45%, 44%);
    --font-family: "Inter", sans-serif;
    --radius: 8px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family);
}

article {
    width: 384px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 38px 39px;
    border-radius: 10px;
    background-color: var(--color-card);

}

img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: auto;

}
 
h1 {
    font-size: 22px;
    font-weight: 600;
    padding: 28px 0 12px 0;
}

p {
    font-size: 14px;
    font-weight: 400;
}

.location {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 28px;
    color: var(--color-location);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 25px;
}

li {
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 13px;
    border-radius: var(--radius);
    background-color: var(--color-box-links);
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

li:hover {
    background-color: var(--color-location);
    cursor: pointer;
}

li:hover a {
    color: var(--color-card);
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.attribution a {
    color: var(--color-footer);
}

@media screen and (max-width: 375px){
    article {
        width: 320px;
        padding: 22px;
    }
}